<div class="contain">
    <div class="contain__header">
        <p class="title">Đơn hàng đã mua</p>
        <p class="sub_title">Giúp chúng tôi đánh giá sản phẩm, để có thể mang lại cho bạn cảm giác trải nghiệm tuyệt vời nhất</p>
        <div class="divider2"></div>
    </div>
    <div class="contain__body">  
        {{#each order}}     
        <div class="invoice_item">
            <div class="invoice_info">
                <span class="txt_freeship">Đơn hàng miễn phí vận chuyển</span>
                {{#if (string_equal this.DeliverStatus 0)}}
                <span class="state_invoice">Đơn hàng đang chuẩn bị</span>
                {{/if}}
                {{#if (string_equal this.DeliverStatus 1)}}
                <span class="state_invoice">Đơn hàng đang giao</span>
                {{/if}}
                {{#if (string_equal this.DeliverStatus 2)}}
                <span class="state_invoice" style="color: #FBC02D">Đơn hàng đã giao</span>
                {{/if}}
                <div class="divider2"></div>
            </div>
            {{#each this.cartID}}
            {{#each ../../cartComplete}}
            {{#if (string_equal this._id ../this._id)}}
            <div class="product_item">
                <img src="{{this.productID.img.[0]}}" alt="" class="img_item">
                <div class="info_item">
                    <p class="name">{{this.productID.name}}</p>
                    <div class="field field_color">
                        <p class="field_name">Màu:</p>
                        <p class="field_val">{{../this.color}}</p>
                        <p class="field_name" style="margin-left: 20px;">Size:</p>
                        <p class="field_val">{{../this.size}}</p>
                    </div>
                    <div class="field field_quantity">
                        <p class="field_name">Số lượng mua:</p>
                        <p class="field_val">{{../this.quantity}}</p>
                    </div>
                </div>
                <div class="info_another_item">
                    <button class="btn_review">Đánh giá sản phẩm này</button>
                    <div class="price">
                        <p class="regular_price">{{print_price this.productID.price}} đ</p>
                        <p class="discount_price">{{print_price_down this.productID.price this.productID.discount}} đ</p>
                    </div>
                </div>
                <div class="divider2"></div>
            </div>
            {{/if}}
            {{/each}}
            {{/each}}
            
            <div class="date_total_price">
                <div class="field field_date">
                    <p class="field_name">Ngày mua:</p>
                    <p class="field_val">{{ print_date this.datePurChase}}</p>
                </div>
                <div class="field field_total_price">
                    <p class="field_name">Tổng số tiền:</p>
                    <p class="field_val">{{print_price this.TotalPrice}} đ</p>
                </div>
            </div>
        </div>
    {{/each}}
    </div>

</div>
