<section id="filter">
    <form action="" class="form-search" method="POST">
        <div class="filter-category">
            <div class="filter-box">
                <div class="filter-title d-flex">
                    <h3>Thương hiệu</h3>
                    <i class="bx bx-minus minus-icon"></i>
                </div>
                <div class="filter-content">
                    <label class="">
                        <input type="checkbox" name="brand_item" value="Khác"/>
                        <span>Khác</span>
                    </label>
                    <label class="">
                        <input type="checkbox" name="brand_item" value="Adidas"/>
                        <span>Adidas</span>
                    </label>
                    <label class="">
                        <input type="checkbox" name="brand_item" value="Nike"/>
                        <span>Nike</span>
                    </label>
                    <label class="">
                        <input type="checkbox" name="brand_item" value="Puma"/>
                        <span>Puma</span>
                    </label>
                </div>
            </div>

            <div class="filter-box">
                <div class="filter-title d-flex">
                    <h3>Giá</h3>
                    <i class="bx bx-minus minus-icon"></i>
                </div>
                <div class="filter-content d-flex">
                    <label class="">
                        <input type="radio" name="radio_price" class="priceCheckbox" value="Nhỏ hơn 1,000,000đ"/>
                        <span>Nhỏ hơn 1,000,000đ</span>
                    </label>
                    <label class="">
                        <input type="radio" name="radio_price" class="priceCheckbox" value="Từ 1,000,000đ - 1,500,000đ"/>
                        <span>Từ 1,000,000đ - 1,500,000đ</span>
                    </label>
                    <label class="">
                        <input type="radio" name="radio_price" class="priceCheckbox" value="Từ 1,500,000đ - 2,000,000đ"/>
                        <span>Từ 1,500,000đ - 2,000,000đ</span>
                    </label>
                    <label class="">
                        <input type="radio" name="radio_price" class="priceCheckbox" value="Từ 2,000,000đ - 3,000,000đ"/>
                        <span>Từ 2,000,000đ - 3,000,000đ</span>
                    </label>
                    <label class="">
                        <input type="radio" name="radio_price" class="priceCheckbox" value="Lớn hơn 3,000,000đ"/>
                        <span>Lớn hơn 3,000,000đ</span>
                    </label>
                </div>
            </div>

            <div class="filter-box">
                <div class="filter-title d-flex">
                    <h3>Kích thước</h3>
                    <i class="bx bx-minus minus-icon"></i>
                </div>
                <div class="filter-content filter-size">
                    <label class="label-size">
                        <input type="checkbox" value="35" name="size_item"/>
                        <span>35</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="36" name="size_item"/>
                        <span>36</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="37" name="size_item"/>
                        <span>37</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="38" name="size_item"/>
                        <span>38</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="39" name="size_item"/>
                        <span>39</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="40" name="size_item"/>
                        <span>40</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="41" name="size_item"/>
                        <span>41</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="42" name="size_item"/>
                        <span>42</span>
                    </label>
                    <label class="label-size">
                        <input type="checkbox" value="43" name="size_item"/>
                        <span>43</span>
                    </label>
                </div>
            </div>

            <button class="btn-search">Tìm kiếm</button>
        </div>
    </form>

    <div class="filter-product">
        <div class="filter-product-title d-flex">
            <h3 id="category-name">{{category.name}}</h3>
            <div class="product-sort d-flex">
            {{!-- <span>Sắp xếp theo:</span>
            <span>
                <select>
                    <option value="price-ascending">Giá: Tăng dần</option>
                    <option value="price-descending">Giá: Giảm dần</option>
                    <option value="title-ascending">Tên: A-Z</option>
                    <option value="title-descending">Tên: Z-A</option>
                </select>
            </span> --}}
            </div>
        </div>
    <section id="products-for-you">
        <div class="products-for-you-list">
            {{#each trendingProd}}
            <a href="/products/{{this.slug}}" class="product-for-you-item">
                <img src="{{this.img.[0]}}" alt="Ảnh giày đá banh" class="product-image"/>
                <span class="product-name">{{this.name}}</span>
                <div class="product-star">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                </div>
                <div class="product-price-wrapper">
                    <p class="product-price"> {{print_price_down this.price this.discount}} <span>đ</span></p>
                    <svg
                        fill="none"
                        viewBox="0 0 24 24"
                        size="24"
                        class="css-9w5ue6"
                        height="24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                        d="M10.2437 8.8V10.077H10.5287C10.6548 10.077 10.7384 10.0429 10.7939 9.98729C10.8495 9.93171 10.8837 9.84817 10.8837 9.722V9.155C10.8837 9.02883 10.8495 8.94529 10.7939 8.88971C10.7384 8.83413 10.6548 8.8 10.5287 8.8H10.2437Z"
                        fill="#30CD60"
                        ></path>
                        <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M5 6C4.44772 6 4 6.44771 4 7V7.74985H0.625014C0.280006 7.74985 0 8.02986 0 8.37486C0 8.71987 0.280006 8.99988 0.625014 8.99988H4V10.2494H1.87453C1.52952 10.2494 1.24951 10.5294 1.24951 10.8744C1.24951 11.2194 1.52952 11.4994 1.87453 11.4994H4V12.75H3.12697C2.78196 12.75 2.50195 13.03 2.50195 13.375C2.50195 13.72 2.78196 14 3.12697 14H4V15C4 15.5523 4.44772 16 5 16L6.00197 16C6.05465 17.3322 7.15515 18.4 8.5 18.4C9.84482 18.4 10.9453 17.3322 10.998 16.0001L16.002 16.0002C16.0547 17.3323 17.1552 18.4 18.5 18.4C19.8448 18.4 20.9452 17.3323 20.998 16.0003L23.3751 16.0003C23.7201 16.0003 24.0002 15.7203 24.0002 15.3753V12.2502C24.0002 12.1365 23.9701 12.0252 23.9114 11.9289L22.0364 8.80388C21.9239 8.61512 21.7201 8.50012 21.5001 8.50012H20V7C20 6.44772 19.5523 6 19 6H5ZM22.6458 12.2499H20V9.74988H21.1458L22.6458 12.2499ZM7.5 15.9C7.5 15.35 7.948 14.9 8.5 14.9C9.052 14.9 9.5 15.35 9.5 15.9C9.5 16.45 9.052 16.9 8.5 16.9C7.948 16.9 7.5 16.45 7.5 15.9ZM18.5 14.9C17.948 14.9 17.5 15.35 17.5 15.9C17.5 16.45 17.948 16.9 18.5 16.9C19.052 16.9 19.5 16.45 19.5 15.9C19.5 15.35 19.052 14.9 18.5 14.9ZM6.30615 7.9H8.57815V8.8H7.24815V10.035H8.29815V10.935H7.24815V13H6.30615V7.9ZM9.30166 7.9H10.5637C10.9398 7.9 11.2496 8.01459 11.4818 8.25169C11.7138 8.48397 11.8257 8.79355 11.8257 9.169V9.708C11.8257 9.94543 11.7786 10.1598 11.6816 10.3487C11.5966 10.5142 11.4795 10.6493 11.3311 10.7527L11.9701 13H10.9908L10.4518 10.977H10.2437V13H9.30166V7.9ZM15.0007 7.9H12.6937V13H15.0007V12.1H13.6357V10.865H14.7207V9.965H13.6357V8.8H15.0007V7.9ZM15.7712 7.9H18.0782V8.8H16.7132V9.965H17.7982V10.865H16.7132V12.1H18.0782V13H15.7712V7.9Z"
                        fill="#30CD60"
                        ></path>
                    </svg>
                </div>
                <div class="product-price-initial">
                    <p> {{print_price this.price}} <span>đ</span></p>
                    <span class="sale-off">-{{this.discount}}%</span>
                </div>
            </a>
            {{/each}}
        </div>

    </section>
    </div>
</section>

<script>
    const btnHide = document.querySelectorAll('.minus-icon');
    const dynamicContent = document.querySelectorAll('.filter-content');
    const btnSearch = document.querySelector('.btn-search');
    const categoryName = document.querySelector('#category-name'); 


    btnHide.forEach((ele,index) => {
        ele.onclick = function()    {
            dynamicContent[index].classList.toggle('hide');
        }
    })



    function getSelectedBrands()    {
        var radios = document.getElementsByName('size_item');
        var collections = [];
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                collections.push(radios[i].value);
            }
        }
        return collections;
    }

    function getSelectedPrice() {
        var checkedValue = null; 
        var inputElements = document.getElementsByClassName('priceCheckbox');
        for(var i=0; inputElements[i]; ++i){
            if(inputElements[i].checked){
                checkedValue = inputElements[i].value;
                break;
            }
        }
        return checkedValue;
    }

    function getSelectedSize()  {
        var radios = document.getElementsByName('brand_item');
        var collections = [];
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                collections.push(radios[i].value);
            }
        }
        return collections;
    }


    if(categoryName.outerText == 'Tất (Vớ)'
            || categoryName.outerText == 'Bóng'
            || categoryName.outerText == 'Găng tay'
            || categoryName.outerText == 'Bảo hộ chân')  {
                btnSearch.classList.add('hide')
    }
    else    {
        btnSearch.onclick = function()  {
            const listSelectedBrands = getSelectedBrands();
            const valueSelectedPrice = getSelectedPrice();
            const listSelectedSize = getSelectedSize();

            console.log(listSelectedBrands)
            console.log(valueSelectedPrice)
            console.log(listSelectedSize)


            if(listSelectedBrands.length!=0 && listSelectedSize!=0 && valueSelectedPrice !=null)    {
                // Do sth
                // Call Api


            }
            else{
                alert('Vui lòng nhập đủ tất cả các trường')
            }
        }
    }




</script>